@charset "UTF-8";

@font-face {
    font-family: Assassin Ninja;
    src: url(../Fontes/aAssassinNinja.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 600px;
    background-image: url(../Imagens/MJE1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#header-menu{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#header-menu h1{
    font-family: Assassin Ninja;
    color: white;
    margin-left: 5%;
}

div#links a{
    color: white;
    text-decoration: none;
    padding: 30px;
    font-weight: bolder;
}

div#links{
    margin-right: 10%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img#logo{
    margin-top: 90px;
    margin-left: 68%;
}
