@charset "UTF-8";

@font-face {
    font-family: Assassin Ninja;
    src: url(../Fontes/aAssassinNinja.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 600px;
    background-image: url(../Imagens/breakify-wNu4sikUPkg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#header-menu{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#header-menu h1{
    font-family: Assassin Ninja;
    color: white;
    margin-left: 5%;
    font-size: 3em;
}

div#links a{
    color: white;
    text-decoration: none;
    padding: 30px;
    font-weight: bolder;
    transition-duration: 0.5s;
    font-size: 20px;
}

div#links a:hover{
    color: lightgray;
}

div#links{
    margin-right: 10%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img#logo{
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 200px;
}

main{
    background-color: white;
    min-width: 900px;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
}

section#planejamento a{
    display: inline-block;
    text-decoration: none;
    width: 250px;
    height: 210px;
    color: black;
    border: 1px solid rgba(233, 231, 231, 0.466);
    border-radius: 5%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.26);
    margin-top: 20px;
    margin-right: 20px;
}

section#interesses a{
    display: inline-block;
    text-decoration: none;
    width: 250px;
    height: 160px;
    color: black;
    border-radius: 5%;
    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.267);
}

main h1{
    font-size: 30px;
    padding-top: 20px;
}

section#planejamento a h2{
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 10px;
}

section#interesses a h2{
    color: white;
    position: absolute;
    margin-top: 122px;
    margin-left: 10px;
    font-size: 22px;
}

a p{
    padding-top: 5px;
    padding-left: 10px;
    color: lightslategray;
    font-weight: bold;
    width: 200px;
}

div#mala{
    background-image: url(../icons/mala.png);
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 10px;
}

div#trem{
    background-image: url(../icons/trem.png);
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 12px;
}

div#apartamento{
    background-image: url(../icons/apartamento.png);
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 12px;
}

div#roteiro{
    background-image: url(../icons/roteiro.png);
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 12px;
}

div#tour{
    background-image: url(../icons/tour.png);
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 12px;
}

div#etiqueta{
    background-image: url(../icons/etiqueta.png);
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 12px;
}

main button.veja-mais{
    border: 1px solid rgba(236, 235, 235, 0.986);
    padding: 10px;
    width: 130px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 340px;
    background-color: white;
    font-weight: bold;
}

main a#comida{
    background-image: url(https://images.unsplash.com/photo-1623341214825-9f4f963727da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

main a#templo{
    background-image: url(https://images.unsplash.com/photo-1580355275559-10c832e123f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

main a#santuario{
    background-image: url(https://images.unsplash.com/photo-1588046218895-bff5984998b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

main a#castelo{
    background-image: url(https://images.unsplash.com/photo-1539879925707-ada7a006960c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

main a#fontes{
    background-image: url(https://images.unsplash.com/photo-1644413638617-02369c89c156?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

main a#trilha{
    background-image: url(https://images.unsplash.com/photo-1680699641420-ea6fc0e54889?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=765&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main a#cerejeira{
    background-image: url(https://images.unsplash.com/photo-1500214751256-2edf09198988?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

main a#outono{
    background-image: url(https://images.unsplash.com/photo-1613967193490-1d17b930c1a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

main a#neve{
    background-image: url(https://images.unsplash.com/photo-1610623757335-bd87c6db4bb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

