@charset "UTF-8";

@font-face {
    font-family: Assassin Ninja;
    src: url(../Fontes/aAssassinNinja.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 600px;
    background-image: url(../Imagens/MJE1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#header-menu{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#header-menu h1{
    font-family: Assassin Ninja;
    color: white;
    margin-left: 5%;
}

div#links a{
    color: white;
    text-decoration: none;
    padding: 30px;
    font-weight: bolder;
}

div#links{
    margin-right: 10%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img#logo{
    margin-top: 90px;
    margin-left: 68%;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main a{
    display: inline-block;
    text-decoration: none;
    width: 200px;
    height: 200px;
    color: black;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 5%;
    box-shadow: 0px 1px 1px rgb(201, 201, 201);
    margin: 10px;
}

main h1{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}

a h2{
    margin-left: 10px;
}

a p{
    margin-left: 10px;
    color: lightslategray;
    padding-top: 5px;
}

div#mala{
    background-image: url(../Imagens/mala.png);
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

div#trem{
    background-image: url(../Imagens/trem.png);
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

