@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 550px;
    background-image: url(Imagens/finan-akbar-HuC3cii5VA8-unsplash.jpg);
    background-position: center center;
}