* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header#homepage-header {
  border: 2px solid red;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header#homepage-header div.links a {
  margin-left: 1rem;
}
